<!doctype html>
<div lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trampo 360 :: Cursos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/cursos.css">
    

</head>

<div>
    <!--Começo Nav bar---->

    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand active" href="index.html">
                <img src="./assets/img/logo.stext.png" width="60" height="50" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="cursos.html">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="parcerias.html">Parcerias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="eventos.html">Eventos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contato.html">Contato</a>
                    </li>
                   <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Login
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="./aluno">Entrar</a></li>
                      <li><a class="dropdown-item" href="cadastro.html">Cadastre-se</a></li>
                                              </ul>
                  </li>
            </ul>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Digite aqui sua busca . . ."
                    aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Pesquisa</button>
            </form>
        </div>
    </div>
</nav>
    
 <!--fim Nav bar---->

    <H1> Cursos da Trampo360°</H1>
                <h2>Explore novos horizontes na Trampo360°. Inscreva-se e impulsione sua carreira tech!</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4 border-0">
                <div class="card custom-margin custom-padding">
                    <img src="./assets/img/frontend.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Front-end</h5>
                        <p class="card-text text-justify">Domine a arte do Front-End! Inscreva-se agora para o curso
                            completo e mergulhe na criação de interfaces incríveis. Transforme-se em um especialista em
                            desenvolvimento web.</p>
                            <button type="button" class="btn btn-warning">Inscreva-se</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card custom-margin custom-padding">
                    <img src="./assets/img/backend.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Back-end</h5>
                        <p class="card-text text-justify">Construa a base do digital! Inscreva-se no curso Back-End e
                            aprenda a criar a infraestrutura por trás das aplicações web. Torne-se um mestre da lógica e
                            funcionalidade.</p>
                        <button type="button" class="btn btn-warning">Inscreva-se</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card custom-margin custom-padding">
                    <img src="./assets/img/fullstack.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Fullstack</h5>
                        <p class="card-text text-justify">Seja um criador de soluções completas! Inscreva-se no curso
                            Fullstack e domine o desenvolvimento tanto front-end quanto back-end. Desperte sua
                            versatilidade tecnológica agora.</p>
                            <button type="button" class="btn btn-warning">Inscreva-se</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card custom-margin custom-padding">
                    <img src="./assets/img/unix1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Unix</h5>
                        <p class="card-text">Desvende os mistérios do Unix! Inscreva-se no curso e domine o sistema
                            operacional amplamente utilizado. Expanda suas habilidades técnicas e conquiste o comando
                            total.</p>
                        <button type="button" class="btn btn-warning">Inscreva-se</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card custom-margin custom-padding">
                    <img src="./assets/img/segurInfo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Segurança da informação</h5>
                        <p class="card-text">Proteja o mundo digital! Inscreva-se no curso de Segurança da Informação,
                            aprenda a defender sistemas contra ameaças cibernéticas. Torne-se o guardião da era digital de uma empresa!
                        </p>
                        
                        <button type="button" class="btn btn-warning">Inscreva-se</button>
                    </div>
                </div>
            </div>
             <div class="col-md-4">
                <div class="card custom-margin custom-padding">
                    <img src="./assets/img/cloud2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cloud</h5>
                        <p class="card-text">Alcance as alturas da tecnologia! Inscreva-se no curso de Cloud e aprenda a
                            gerenciar e otimizar serviços na nuvem. Leve suas habilidades para o próximo nível da
                            inovação.</p>
                        <button type="button" class="btn btn-warning">Inscreva-se</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    


    <!---Rodapé-->

    <footer>
        <div class="footer-info">
            <div class="contact-info">

                <h5>Telefone para contato</h5>
                </p>
                <p> (11) 3858-0777 </p>
                <p> (11) 97770-3952</p>
            </div>
            <div class="end-info">
                <h5>Endereço</h5>
                <p>Rua Gaivota, 125 - Bairro Moema</p>
                <p> São Paulo - SP</p>
            </div>
            <div class="social-media text-white">
                <h5> Nossas mídias sociais</h5>
                <i class="bi bi-instagram insta fs-4" onclick="window.open('https://www.instagram.com/', '_blank')"></i>
                <i class="bi bi-facebook face fs-4" onclick="window.open('https://www.facebook.com/', '_blank')"></i>
                <i class="bi bi-twitter tw fs-4" onclick="window.open('https://www.twitter.com/', '_blank')"></i>
                <i class="bi bi-messenger mess fs-4" onclick="window.open('https://www.messenger.com/', '_blank')"></i>
                <i class="bi bi-whatsapp whats fs-4 " onclick="window.open('https://web.whatsapp.com/', '_blank')"></i>
            </div>
        </div>
        <div class="footer-text">
            <p>&copy; 2023 Trampo360°. Todos os direitos reservados.</p>
        </div>
    </footer>
    <!---fimRodapé-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>