<!doctype html>
<html lang="pr br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trampo 360 :: Eventos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
   <link rel="stylesheet" type="text/css" href="./assets/css/eventos.css">
    </head>

  
  
  <body>

    <!--Começo Nav bar---->

    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand active" href="index.html">
                <img src="./assets/img/logo.stext.png" width="60" height="50" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="cursos.html">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="parcerias.html">Parcerias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="eventos.html">Eventos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contato.html">Contato</a>
                    </li>
                   <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Login
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="./aluno">Entrar</a></li>
                      <li><a class="dropdown-item" href="cadastro.html">Cadastre-se</a></li>
                                              </ul>
                  </li>
            </ul>

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Digite aqui sua busca . . ."
                        aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Pesquisa</button>
                </form>
            </div>
        </div>
    </nav>
    

 

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 p-0">
        <div class="video-container">
          <video autoplay loop muted>
            <source src="./assets/img/video01.mp4" type="video/mp4">
          </video>
          <div class="overlay-text">
            <h1>Calendário de EVENTOS 2023</h1>
            <p>Conheça os eventos exclusivos da <strong>TRAMPO 360°</strong> para conectar jovens talentos com grandes empresas e acelerar a sua carreira profissional.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="todo">

 <div class="img">
        <img src="./assets/img/texto03.png" class="img-fluid" alt="..." >
      </div>
      <br>
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/img/evento01.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><strong>Evento Nubank Tecnologia</strong></h5>
              <p class="card-text">🚀 Participe do evento online do ano! 🚀</p>

                <p>Não perca a chance única de aprender com o melhor. Junte-se a nós no evento com o renomado CTO do Nubank, onde ele irá compartilhar insights valiosos sobre as inúmeras oportunidades de emprego nesse campo dinâmico.</p>
                
                <p>🗓️ Data: 25/09/2023</p>
                <p>🕒 Horário: 15:00 ás 17:00</p>
                <p></p>
                
                       
            <button type="button" class="btn btn-warning">Faça Sua Inscrição</button>
              
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/img/evento02.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><strong>Google Futuro Tecnológico</strong></h5>
              <p class="card-text"><p>🌟 Explore o Futuro na Google! 🌟</p>
             Inscreva-se agora para o imperdível evento com o Diretor de Tecnologia da Google, onde você descobrirá todas as razões pelas quais a Google é a melhor empresa para se trabalhar na área de programação.</p>
                <p>🗓️ Data: 15/10/2023</p>
                <p>🕒 Horário: 09:00 ás 11:00</p>
                             
              
             <button type="button" class="btn btn-warning">Faça Sua Inscrição</button>
              
            </div>
          </div>
        </div>
      </div>
      <br>

      <div class="img">
        <img src="./assets/img/texto01.png" class="img-fluid" alt="..." >
      </div>
      <br>

      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="./assets/img/evento03.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><strong>Caminho para o Sucesso como Desenvolvedor Front-end!</strong> </h5>
              <center><h7><strong>Online / Gratuito / Pré-Inscrição</strong></h7></center><br>
              <p class="card-text">  🚀 Junte-se a nós e aprenda com o Prof. Queiroz da Trampo360° as melhores dicas e estratégias para se destacar nessa carreira empolgante. <p>Prepare-se para trilhar o caminho do sucesso no desenvolvimento front-end!</p> <p>🗓️ Data: 05/11/2023</p>
              <p>🕒 Horário: 09:00 ás 11:00</p><p>🔥#DesenvolvedorFrontEnd #Trampo360°</p>
              <button type="button" class="btn btn-warning">Faça Sua Inscrição</button>

            </div>
            
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img src="./assets/img/evento04.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><strong>Se desenvolva, desenvolvedor!</strong> </h5>
              <center><h7><strong>Online/ Gratuito / Pré-Inscrição</strong></h7></center><br>
              <p class="card-text">🚀 Quer Avançar de Desenvolvedor Júnior para Pleno Back-end de Sucesso? Não perca! Junte-se à Profa. Flora Morais da Trampo360°.<p>Aprenda estratégias comprovadas para impulsionar sua carreira no desenvolvimento Back-end.</p>  Sua jornada para o próximo nível começa aqui!</p>🗓️ Data: 02/12/2023</p>
              <p>🕒 Horário: 09:00 ás 11:00</p> <p>🔥 #DesenvolvedorPleno #Trampo360°</p>
              <button type="button" class="btn btn-warning">Faça Sua Inscrição</button>
            </div>
            
          </div>
        </div>
        
        <div class="col">
          <div class="card h-100">
            <img src="./assets/img/evento05.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><strong>Contamos tudo sobre ser um profissional de Segurança da informação! </strong> </h5>
              <center><h7><strong>Online / Gratuito / Pré-Inscrição</strong></h7></center><br>
              <p class="card-text"><p>🔒 Domine a Segurança da Informação! 🔐</p> Participe da palestra com o Prof. Taiguara da Trampo360°. Descubra habilidades essenciais e dicas para proteger dados no mundo digital. <p>Fortaleça seu conhecimento em segurança!</p> <p>🗓️ Data: 07/12/2023</p>
              <p>🕒 Horário: 09:00 ás 11:00</p>💻🛡️ #SegurançaDaInformação #Trampo360°</p>
              <button type="button" class="btn btn-warning">Faça Sua Inscrição</button>
            </div>
            
          </div>
        </div>
</div>
</div>                                          


<div class="card mb-3">
  <img src="./assets/img/modelo01.png" class="card-img-top" alt="...">
  <div class="card-body">
    <center><button type="button" class="btn btn-warning">Fique Por Dentro</button></center>
  </div>
</div>



    <footer>
        <div class="footer-info">
            <div class="contact-info">

                <h5>Telefone para contato</h5>
                </p>
                <p> (11) 3858-0777 </p>
                <p> (11) 97770-3952</p>
            </div>
            <div class="end-info">
                <h5>Endereço</h5>
                <p>Rua Gaivota, 125 - Bairro Moema</p>
                <p> São Paulo - SP</p>
            </div>
            <div class="social-media text-white">
                <h5> Nossas mídias sociais</h5>
                <i class="bi bi-instagram insta fs-4" onclick="window.open('https://www.instagram.com/', '_blank')"></i>
                <i class="bi bi-facebook face fs-4" onclick="window.open('https://www.facebook.com/', '_blank')"></i>
                <i class="bi bi-twitter tw fs-4" onclick="window.open('https://www.twitter.com/', '_blank')"></i>
                <i class="bi bi-messenger mess fs-4" onclick="window.open('https://www.messenger.com/', '_blank')"></i>
                <i class="bi bi-whatsapp whats fs-4 " onclick="window.open('https://web.whatsapp.com/', '_blank')"></i>
            </div>
        </div>
        <div class="footer-text">
            <p>&copy; 2023 Trampo360°. Todos os direitos reservados.</p>
        </div>
    </footer>









    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </div>
  </body>
</html>